/*********** Palette color ***********/
:root{
    --primary: #;
    --secondary: #;
}


/*********** Generics ***********/
body {background-color: lightseagreen;}

button {
    background-color: lightseagreen;
    color: white;
}
button:active {
    box-shadow: 0 2px #666;
    transform: translateY(-2px);
}

#ticket-form, #user-ticket {background-color: beige;}

#user-ticket > .row {
    min-height: 160px;
    align-content: center;
}

#user-ticket .ticket-border {
    height: max-content;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
#user-ticket .ticket-border .col-3 {border-right: 1px solid black;}

#user-ticket .row [class^="col"] {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}